@charset "UTF-8";
/* HSY V├äRIT */
/* https://www.hsy.fi/fi/tietoa-hsy/ilme/Sivut/default.aspx */
/* P├ñ├ñv├ñrit */
/* Tukiv├ñrit */
#ui-datepicker-div .ui-state-highlight {
  border: 1px solid #00a2aa;
  background-color: #e0f3f5; }

#ui-datepicker-div .ui-state-active {
  border: 1px solid #00a2aa;
  background-color: #64C3CD; }

#ui-datepicker-div .ui-state-hover {
  border: 1px solid #00a2aa;
  background-color: #64C3CD; }

body {
  font-family: 'Source Sans Pro',sans-serif !important; }

::selection {
  background: #ddfffe !important; }

#logobar {
  height: 52px;
  margin: 15px 37px;
  width: 77%;
  overflow: hidden;
  background-image: url("../icon_hsy_sm.png");
  background-repeat: no-repeat; }

#maptools {
  background-color: #00a2aa !important;
  overflow: hidden !important; }

#login {
  padding-top: 25px; }

#login input[type="submit"] {
  width: 97% !important; }

.oskari-tile-closed, .oskari-tile-minimized {
  background-color: #00a2aa !important;
  background: #00a2aa !important;
  border-top: 0px solid #008782 !important;
  border-bottom: 1px solid #008782 !important; }
  .oskari-tile-closed:first-child, .oskari-tile-minimized:first-child {
    border-top: 1px solid #008782 !important; }

div.toolrow {
  border-top: 1px solid #008782 !important; }

div.toolrow div.tool.selected, div.toolrow div.tool:hover:not(.disabled), div.toolrow div.tool:active:not(.disabled) {
  background-color: #008782 !important; }

.oskari-flyoutheading {
  background-color: #EA7600 !important;
  border-top: 1px solid #EA7600 !important;
  border-bottom: 1px solid #BE4D00 !important; }

.oskari-flyouttoolbar {
  background-color: #ffd8be !important; }

div.accordion div.accordion_panel {
  background-color: #EEEEEE !important; }

.oskari-tile-attached {
  background-color: #EEEEEE !important; }

div.divmanazerpopup h3.popupHeader {
  background-color: #ffd8be !important; }

button.primary, input.primary {
  background-color: #00a2aa !important;
  background-image: none !important;
  border-color: #00a2aa #00a2aa #00a2aa #00a2aa !important;
  text-shadow: none !important; }

button.primary.selected, input.primary.selected {
  background: #008782 !important;
  border-color: #00a2aa !important;
  color: #ffffff !important;
  text-shadow: none !important; }

input[type="submit"]:hover:enabled, input[type="button"]:hover:enabled, input[type="reset"]:hover:enabled, button:hover:enabled, .lfr-actions:hover, .lfr-actions:hover ul {
  background: #008782 !important;
  border-color: #00a2aa !important;
  color: #ffffff !important;
  text-shadow: none !important; }

input[type="submit"]:hover:enabled, input[type="submit"]:focus, input[type="button"]:hover:enabled, input[type="button"]:focus, input[type="reset"]:hover:enabled, input[type="reset"]:focus, button:hover:enabled, button:focus {
  color: #ffffff !important; }

button.approve, input.approve {
  background-color: #008302 !important;
  background-image: none !important;
  border-color: #008302 #008302 #008302 #008302 !important;
  text-shadow: none !important;
  color: #ffffff; }

button.approve:hover:enabled, input.approve:hover:enabled {
  background-color: #009033 !important;
  background-image: none !important;
  border-color: #009033 #009033 #009033 #009033 !important;
  text-shadow: none !important; }

.layerselector2-layer-filter {
  display: none; }

.logoplugin .icon {
  background-image: url("../hsy-logo_50px.png") !important;
  height: 26px !important;
  width: 50px !important;
  background-color: transparent !important; }

div.mapplugin.backgroundLayerSelectionPlugin div.bg {
  opacity: 0.4; }

table td {
  text-align: left;
  vertical-align: top; }

table {
  border-top-width: 0px; }

.oskari__download-basket .oskari__download-basket-wrapper .download-basket__component .download-basket__component-title {
  border: 1px solid #008782;
  background: #008782;
  color: #ffffff; }
.oskari__download-basket .oskari__download-basket-wrapper .download-basket__component .download-basket__component-content {
  border: 1px solid #008782; }

.oskari-attached {
  max-width: 90% !important; }

.oskari__download-basket-cropping-buttons {
  max-width: 400px !important; }

div.mapplugin.backgroundLayerSelectionPlugin div.content {
  z-index: 15000; }

div.searchContainer div.spinner {
  top: 70px !important; }

div.metadataCatalogueContainer div.spinner {
  top: 63px !important; }

@media only screen and (max-height: 1399px) and (min-height: 1200px) {
  .oskari-flyoutcontentcontainer {
    max-height: 970px !important; } }
div#oskari_getinforesult_contentWrapper table {
  font-size: 12px !important;
  line-height: 18px !important; }
  div#oskari_getinforesult_contentWrapper table tr:nth-child(even) {
    background: #ffffff !important; }
  div#oskari_getinforesult_contentWrapper table tr:nth-child(odd) {
    background: #ffffff !important; }
  div#oskari_getinforesult_contentWrapper table tr td {
    padding: 2px 0 3px !important; }
    div#oskari_getinforesult_contentWrapper table tr td:first-child {
      text-align: left;
      font-weight: bold; }

#ribbon {
  z-index: 100000;
  top: 0px;
  left: 0px;
  position: fixed;
  /*  left side */
  padding-left: 40px;
  margin-top: 20px;
  margin-left: -30px;
  padding-right: 40px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /*  right side */
  /*
  margin-right: -30px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
   */
  color: #ffffff;
  background-color: #EA7600; }
  #ribbon:hover {
    display: none; }
  #ribbon.seutumaisa {
    background-color: #EA7600; }

/*# sourceMappingURL=overwritten.css.map */
