@import '../../colors';

$mainColor: #fafafa;
$secondColor: #00858C;
$lightFontColor: $valkea;
$ribbonTextColor: $lightFontColor;
$ribbonBackgroundColor: $secondColor;

#logobar {
    height: 35px;
    width: 170px;
    margin: 10px 16px;
    overflow: hidden;
    background-image: url(../seutuMASSA_logo.png);
    background-repeat: no-repeat;
    cursor:pointer;
}

.oskari-flyout-title {
    p {
        color: $mainColor !important;
    }
}

#maptools {
    background-color: $mainColor !important;
}

#login {
    padding-top: 25px;
}

p.login_header {
    color: $musta;
    padding-bottom: 5px;
}

#login {
    a {
        color: $musta !important
    }
}

#toolsDiv {
    overflow-y: auto;
    height:calc(100% - 50px) !important;
    overflow-x: hidden;
}

#logosDiv {
    height: 50px;
    bottom: 0px;
}

#logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.oskari-tile {
    border-bottom: 1px solid $tummaTurkoosi !important;
    border-top: 1px solid $tummaTurkoosi !important;
}

.oskari-tile-container {
    border-bottom: 1px solid $secondColor !important;
    border-top: 1px solid $secondColor !important;
}

.oskari-tile-closed:first-child, .oskari-tile-minimized:first-child {
    border-top: 1px solid $secondColor !important;
}

.oskari-tile-closed, .oskari-tile-minimized {
    background-color: $mainColor !important;
    background: $mainColor !important;
    border-top: 1px solid $secondColor !important;
    border-bottom: 1px solid $secondColor !important;
}

.oskari-tile-closed .oskari-tile-title {
    color: $musta !important;
}

div.hierarchical-layerlist li#hierarchical-layerlist-selected-layers-tab {
    background-color: $keskiVihrea !important;
    color: #fff !important;
}

div.toolrow {
    border-top: 0px solid $secondColor !important;
}

div.toolrow div.tool.selected, div.toolrow div.tool:hover:not(.disabled), div.toolrow div.tool:active:not(.disabled){
    background-color: $secondColor !important;
}

.oskari-flyoutheading {
    background-color: $tummaTurkoosi !important;
    border-top: 1px solid $tummaTurkoosi !important;
    border-bottom: 1px solid $tummaTurkoosi !important;
}

.oskari-flyouttoolbar {
    background-color: $keskiTurkoosi !important;;
}

div.accordion div.accordion_panel {
    background-color: #EEEEEE !important;
}

.oskari-tile-attached {
    background-color: $tummaTurkoosi !important;
}

.oskari-tile-attached .oskari-tile-title {
    color: $mainColor !important;
}

div.divmanazerpopup h3.popupHeader {
    background-color: #fee9d7 !important;
}


.oskari-flyout {

    button.primary, input.primary {
        background-color: $tummaTurkoosi !important;
        background-image: linear-gradient($keskiTurkoosi 20%, $tummaTurkoosi 90%) !important;
        border-color: $keskiTurkoosi $keskiTurkoosi $keskiTurkoosi $keskiTurkoosi !important;
        text-shadow: none !important;
    
        &.selected {
            background: $secondColor !important;
            border-color: #00A2AA !important;
            color: $valkea !important;
            text-shadow: none !important;
        }
    }
    
    input[type="submit"]:hover:enabled, input[type="button"]:hover:enabled, input[type="reset"]:hover:enabled, button:hover:enabled, .lfr-actions:hover, .lfr-actions:hover ul{
        background-color: $tummaTurkoosi !important;
        background-image: linear-gradient($tummaTurkoosi 20%, $keskiTurkoosi 90%) !important;
        border-color: #00A2AA !important;
        color: $valkea !important;
        text-shadow: none !important;
    }

    input[type="submit"]:hover:enabled, input[type="submit"]:focus, input[type="button"]:hover:enabled, input[type="button"]:focus, input[type="reset"]:hover:enabled, input[type="reset"]:focus, button:hover:enabled, button:focus{
        color: $valkea !important;
    }

    button.approve, input.approve {
        background-color: #008302 !important;
        background-image: none !important;
        border-color: #008302 #008302 #008302 #008302 !important;
        text-shadow: none !important;
        color: $valkea;

        &:hover, &enabled {
            background-color: #009033 !important;
            background-image: none !important;
            border-color: #009033 #009033 #009033 #009033 !important;
            text-shadow: none !important;
        }
    }

}
.layerselector2-layer-filter{
    display: none;
}

.mapplugin.logoplugin img.logo {
    /* Works with the 50px logo included with server binaries */ 
    height: 37px;
    width: 60px;
    background-color: #00858C;
    padding: 5px;
    border-radius: 5px;
    translate: 0 -10px;
    &:hover {
        opacity: 0.8;
    }
}

div.mapplugin.backgroundLayerSelectionPlugin div.bg {
    opacity: 0.6;
}

table {
  border-top-width: 0px;
  td {
      text-align: left;
      vertical-align: top;
  }
}

.oskari-attached {
    max-width: 82% !important;
}

div.mapplugin.backgroundLayerSelectionPlugin div.content {
    z-index: 15000;
}

div.vaakuna_logo {
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 40px;
  padding-left: 40px;

    &.helsinki {
        background: url('../helsinki_logo.png') no-repeat;
        height: 19px;
    }

    &.espoo {
        background: url('../espoo_logo.png') no-repeat;
        height: 20px;
    }

    &.vantaa {
        background: url('../vantaa_logo.png') no-repeat;
        height: 40px;
    }
}

#ribbon {
    color:$ribbonTextColor;
    background-color: $ribbonBackgroundColor;
}

li.active-result.highlighted  {
    background-color: $tummaTurkoosi !important;
    background-image: linear-gradient($keskiTurkoosi 20%, $tummaTurkoosi 90%) !important;
}
