/* HSY VÄRIT */
/* https://www.hsy.fi/fi/tietoa-hsy/ilme/Sivut/default.aspx */

/* Päävärit */
$vaaleanTurkoosi: #64C3CD;
$keskiTurkoosi: #00AAA3;
$tummaTurkoosi: #008782;
$musta: #2C2A29;
$valkea: #ffffff;

/* Tukivärit */
$pinkki: #D8318A;
$punainen: #BD3429;
$tummanOranssi: #BE4D00;
$oranssi: #EA7600;
$keltainen: #F9D800;
$ruskea: #4E3629;
$tummanVihrea: #006431;
$keskiVihrea: #009F4D;
$vaaleanVihrea: #74AA50;
$violetti: #814494;
$tummanSininen: #006AA7;
$vaaleanSininen: #9BCBEB;